* {
    box-sizing: border-box;
}

:root {
    --primary: 
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: blanchedalmond;
    line-height: 1;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: aquamarine;
    box-shadow: 0 4.5px 34.5px antiquewhite;
}

header h1 {
    color:green;    
    padding: 3px 1% 3px 5%;
    margin: 0;
    font-size: 2.5em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px;
    color: red;
    font-size: 2em;

}
.background {
    background-image: url(assets/coding.jpeg);
    min-height: 300px;
    margin: 0%;
    padding: 4em;
    background-size: cover;
    text-align: right;
    color: red;
    font-size: 2em;
}

.bar  {
    background-image: url(assets/256bar.jpg);
    min-height: 250px;
    background-size: cover;

}


.css code div {
    flex: 0 0 80%;
}
.css code h2 {
    background-color: red;
    color: grey;
    margin: 0;
    padding: 4px 9px;
    font-size: 3rem;
    line-height: 1.5;
    display: inline;
}